<!doctype html>
<html>
<head>
	<title>Classmates App</title>
</head>
<body>
	<h1>Here are all of your classmates:</h1>
	<ul>
		<% for (var i = 0; i < classmates.length; i++) { %>
			<li>
				<a href="/classmates/<%= i + 1 %>">Name: <%= classmates[i].name %>, Age: <%= classmates[i].age %></a>
				<form action="/classmates/<%= i + 1 %>?_method=DELETE" method="POST">
					<input type="submit" value="Destroy">
				</form>
			</li>
		<% } %>
	</ul>

	<a href="/classmates/new">Add a new classmate</a>

</body>
</html>
